{% assign title = include.title | default: "Start your free trial today!" %}
{% assign button_title = include.button_title | default: "Sign Up" %}
{% assign button_url = include.button_url | default: "/go/sign-up" %}

<section class="u-py-50">
    <div class="overlay bg-blue"></div>
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-8 d-md-flex">
                        <h2 class="h1 text-white mx-md-5">
                            {{ title }}
                        </h2>
                    </div>
                    <div class="col-4 text-center">
                        <a href="{{ button_url }}" class="btn btn-white btn-rounded mt-4 mt-md-0 u-fs-26 px-4">
                            {{ button_title }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END u-py-100-->
