{% assign title = include.title | default: "Visual Gantt Chart Software" %}
{% assign subtitle = include.subtitle | default: "You draw a picture.  We'll create your Gantt chart." %}
{% assign button_1_title = include.button_1_title | default: "Sign Up for a Free Trial" %}
{% assign button_1_url = include.button_1_url | default: "/go/sign-up" %}
{% assign image = include.image | default: "/assets/images/GamePlan-Gantt-Chart-Software-play-540px.png" %}
{% assign image_alt = include.image_alt | default: "GamePlan Gantt Chart Software" %}
{% assign video_url = include.video_url | default: "https://youtu.be/C6dmYRTuEXI" %}


<section class="u-py-60 u-flex-center bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="display-4 u-fw-600 text-white u-mb-40">
                    {{ title }}
                </h1>
                <p class="u-fs-26 text-white u-lh-1_8 u-mb-40">
                    {{ subtitle }}
                </p>
                <a href="{{ button_1_url }}" class="btn btn btn-rounded btn-white  px-md-5 mb-3" style="text-transform:none !important">
                    {{ button_1_title }}
                </a>
            </div> <!-- END col-lg-6-->
            <div class="col-lg-6 text-center">
                <a data-fancybox href="{{ video_url }}" onclick="notifyAnalyticsEvent('{{video_url}}', 'play_video', '')" class="text-white">
                    <img src="{{ image | absolute_url}}" alt="{{ image_alt }} ">
                </a>

            </div> <!-- END col-lg-6-->
        </div> <!-- END row-->
    </div> <!-- END container-->
</section> <!-- END intro-hero-->
