{% assign title = include.title | default: "Task management vs. Project scheduling" %}
{% assign text = include.title | default: "
<p>
It is important to understand the difference between task management and project scheduling tools.  
In task management tools you create tasks, add people, and assign task due dates. 
These tools are excellent for team collaboration. Task management tools show when tasks are due, but they give no indication if the due dates are achievable.
When the inevitable project delay occurs, these tools tell you that you are late, but they cannot help you further.
</p>
<p>
Project scheduling tools look at task dependencies and team availability, and they calculate the entire project timeline.  
When a delay occurs, the project timeline is recalculated. Task management tools work well when a project is not time sensitive.  
However, when a project is time sensitive, only scheduling tools show you what is achievable and keep you on track to meet your project deliverables.
</p>
" %}
{% assign image = include.image | default: "/assets/images/task_mgt_or_proj_scheduling70pct.jpg" %}
{% assign image_alt = include.image_alt | default: "GamePlan visual" %}


  <section class="pb-30 bg-gray-v1">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto text-center">
              <h2 class="h1">
                {{ title }}
              </h2>
              <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
          </div>
           <div class="col-lg-6 text-center">
           <img src="{{ image | absolute_url}}" alt="{{ image_alt }}">
       </div>
       <div class="col-lg-6 u-fs-22">
        {{ text }}
    </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->
