{% assign title = include.title | default: "Task management vs. Project scheduling" %}
{% assign text = include.title | default: "
<p>
    It's important to understand the difference between task management tools and project scheduling tools.
</p>
<p>
    With task management tools you create tasks and assign task due dates.
    These tools show when tasks are due, but give no indication if the dates are achievable.
    When a delay occurs, these tools tell you that you're late, but they can't help you further.
</p>
<p>
    True project scheduling tools look at task effort and team availability, and they calculate the entire project timeline.
    When a delay occurs, the project timeline is recalculated, showing you how the delay impacts the project.
</p>
<p>
    Task management tools work well when a project is NOT time sensitive.
    However, if time is important, only scheduling tools show you what is achievable and keep you on track to meet the project deliverables.
</p>
" %}
{% assign image = include.image | default: "/assets/images/Task_Management_or_Project_Scheduling_small.png" %}
{% assign image_alt = include.image_alt | default: "GamePlan visual" %}


<section class="pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="h1">
                    {{ title }}
                </h2>
                <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-50 mx-auto"></div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="{{ image | absolute_url}}" alt="{{ image_alt }}">
            </div>
            <div class="col-lg-6 u-fs-22">
                {{ text }}
            </div>
        </div> <!-- END row-->
    </div> <!-- END container-->
</section> <!-- END section-->
