{% assign title = include.title | default: "How is Gameplan unique?" %}
{% assign text = include.title | default: "
GamePlan is the only product to deliver true resource-levelled project scheduling through a visual whiteboard user experience.
GamePlan makes project planning instinctive. 
Drawing your project workflow on a whiteboard is a natural way to plan any project.
Only GamePlan automatically updates a Gantt chart project schedule as you make changes on a whiteboard.
" %}
{% assign image = include.image | default: "/assets/images/gp_whiteboard_sbook.png" %}
{% assign image_alt = include.image_alt | default: "GamePlan visual" %}


  <section class="pb-0">
    <div class="container">
      <div class="row text-center">
          <div class="col-lg-8 mx-auto">
              <h2 class="h1">
                  {{ title }}
              </h2>
              <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
              <p class="u-fs-22"> 
                {{ text }}
              </p>
          </div>
           <div class="col-12 text-center">
           <img src="{{ image | absolute_url}}" alt="{{ image_alt }}">
       </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->
  
  