<div>{{ site.term }}</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics_ua}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{site.google_analytics_ua}}');
</script>
<script>
  /**
  * Function that tracks a click on an outbound link in Analytics.
  * This function takes a valid URL string as an argument, and uses that URL string
  * as the event label. Setting the transport method to 'beacon' lets the hit be sent
  * using 'navigator.sendBeacon' in browser that support it.
  */
  var trackOutboundLink = function (url) {

    gtag('event', url, {
      'event_category': 'outbound',
      'event_label': url,
      'transport_type': 'beacon',
      'event_callback': function () {
        document.location = url;
      }
    });

  }

  var notifyAnalyticsEvent = function (action, category, label) {
    gtag('event', action, {
      'event_category': category,
      'event_label': label,
      'transport_type': 'beacon',
    });
  }
</script>