{% assign copyright = include.copyright | default: "Copyright 2018, GamePlan Global Solutions Inc. All rights reserved" %}


<footer class="bg-gray-v1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 pt-5 text-center">
                    {% for social in site.data.social.social_media %}
                    <a href="{{ social.url }}" onclick="trackOutboundLink('{{social.url}}')">
                            <i class="fa fa-{{ social.title }}-square social-text-{{ social.title }} u-fs-32 px-1"></i>
                        </a>
                    {% endfor %}
            </div>

            <div class="col-lg-12 pt-3">
                <ul class="list-inline footer-nav u-ff-dosis text-center mb-0">
                    {% for link in site.data.nav.footer_nav %}
                    <li class="list-inline-item">
                        <a class="text-uppercase u-fw-600 text-black u-fs-20" style="text-transform:none !important; font-weight:normal !important" href="{{ link.url | absolute_url}}">{{ link.title }}</a>
                    </li>
                      {% if forloop.last != true %}
                      <li class="list-inline-item">
                        <span class="text-uppercase u-fw-600 text-black u-fs-20" style="text-transform:none !important; font-weight:normal !important">|</span>
                      </li>
                      {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-12 pt-3 pb-5 text-center u-fs-20">
                <span>{{ copyright }}</span>
            </div>
        </div>
        <!-- END row-->
    </div>
    <!-- END container-->
</footer>