
<div class="header wrapper-fluid wrapper-navbar bg-blue" id="wrapper-navbar">
        <div class="container">
    <a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>
    <nav class="navbar navbar-toggleable-md  navbar-light">

            <button class="navbar-toggler collapsed navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa u-fs-30 text-white fa-bars" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand mr-auto" rel="home" href="/" title="Home"><img src="{{ '/assets/images/gameplan-logo-with-name-300x60-onblack.png' | absolute_url}}" alt="GamePlan Global logo" class="img-fluid"></a>
            <div id="navbarNavDropdown" class="navbar-collapse collapse" aria-expanded="false"
                style="">
                <ul id="main-menu" class="navbar-nav ml-auto">

                        {% for link in site.data.nav.main_nav %}

                        {% if link.url contains "http" %}
                            {% capture actual_url %}{{link.url}}{% endcapture %}
                            {% capture url_onclick %}onclick="trackOutboundLink('{{link.url}}')"{% endcapture %}
                        {% else %}
                            {% capture actual_url %}{{link.url | relative_url}}{% endcapture %}
                            {% capture url_onclick %}{% endcapture %}
                        {% endif %}

                        {% if link.is_button %}
                        <li class="nav-item">
                        <a href="{{ actual_url }}" {{ url_onclick }} title="{{ link.title }}" class="nav-link btn btn btn-rounded btn-white ml-3 px-md-3 u-fs-18 mb-3" style="text-transform:none !important; font-weight:normal !important">
                                {{ link.title }}
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item {% if page.url==link.url %}active{% endif%}">
                                <a title="{{ link.title }}" style="text-transform:none !important; font-weight:normal !important" href="{{ actual_url }}" {{ url_onclick }} class="u-fs-18 nav-link text-white">{{ link.title }} {% if page.url==link.url %}<span class="sr-only">(current)</span>{% endif%}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>

  
