<div class="container">
    <div class="row ">
            {% for solution in site.solutions %}         
        <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
            <div class="card   rounded bg-white  box-shadow-v3 u-h-100p u-of-hidden">
                <a href="{{ solution.url }}" class="u-pos-rel">
                    <img class="w-100" src="{{ solution.image | absolute_url}}" alt="{{ solution.image_alt }}">
                </a>
                <div class="p-4">
                    <a class="h4 text-black" href="{{ solution.url }}">
                            {{ solution.title }}
                    </a>
                    {% if solution.subtitle %}
                    <p class="mb-0 u-fs-18 pt-2">
                        {{ solution.subtitle }}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


