---
title: 'Visualize any Microsoft Project file!'
subtitle: 'Communicate your Project schedule visually, in a way people understand.'
image: '/assets/images/MSProject_to_GamePlan.jpg'
image_alt: 'Image alt'
layout: landingpage
permalink: /solutions/MicrosoftProject

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?"
    answer: "Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit
            esse molestie possim wisi enim ad placerat facer possim."
  - question: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?"
    answer: "Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit
            esse molestie possim wisi enim ad placerat facer possim."
  - question: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?"
    answer: "Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit
            esse molestie possim wisi enim ad placerat facer possim."

---



{% include /blocks/landingpages/MSProject/hero.html
    header_title="First Industry specific landing page"
    header_subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    button1_text="Get Started"
    button1_url ="/#"
    button2_text ="Free trial"
    button2_url ="/#"
%}

{% include /blocks/landingpages/MSProject/features-right.html
    title="Lorem <span class='text-primary'>Ipsum</span>"
    content='
<p>
    Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit
    esse molestie possim wisi enim ad placerat facer possim.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h4 class="h5">
            Sed ut perspiciatis
        </h4>
        <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate.
        </p>
    </div>
</div>
<div class="media mt-4">
    <div class="media-body">
        <h4 class="h5">
            At vero eos et accusamus
        </h4>
        <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate.
        </p>
    </div>
</div>
    '
    image_url="assets/images/planning.png"
    image_alt="This image alt"
%}



{% include /blocks/landingpages/MSProject/features-left.html
    title="Lorem <span class='text-primary'>Ipsum</span>"
    content='
<p>
    Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit
    esse molestie possim wisi enim ad placerat facer possim.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h4 class="h5">
            Sed ut perspiciatis
        </h4>
        <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate.
        </p>
    </div>
</div>
<div class="media mt-4">
    <div class="media-body">
        <h4 class="h5">
            At vero eos et accusamus
        </h4>
        <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate.
        </p>
    </div>
</div>
    '
    image_url="assets/images/planning.png"
    image_alt="This image alt"
%}



{% include /blocks/landingpage/cta.html
    title="Industry specific landing page"
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    button_text="Learn more"
    button_url="/#"
%}

{% include /blocks/landingpage/customers.html
    title="Our customers"
    customers=page.customers
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}

{% include /blocks/landingpage/video.html
   image_url="/assets/images/video-bg.jpg"
   title="Test test test"
   video_url="https://youtu.be/0Bv5xwkO52k"
 %}