---
title: 'Visualize your Microsoft Project files!'
subtitle: 'Communicate your Project schedule visually, in a way people understand.'
image: '/assets/images/MSProject_to_GamePlan_3.jpg'
image_alt: 'Image alt'
layout: landingpage
permalink: /solutions/MicrosoftProject

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?"
    answer: "Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit
            esse molestie possim wisi enim ad placerat facer possim."
  - question: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?"
    answer: "Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit
            esse molestie possim wisi enim ad placerat facer possim."
  - question: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?"
    answer: "Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit
            esse molestie possim wisi enim ad placerat facer possim."

---



{% include /blocks/home/hero.html
    title="Visualize Microsoft Project"
    subtitle="Import a Microsoft Project file and view the project workflow.  Only GamePlan can do this.  Try it for free."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan_MSProject_Import_with_playbutton_small.png"
    image_alt = "Microsoft Project to GamePlan"
    video_url = "https://youtu.be/0Bv5xwkO52k"
%}

{% include /blocks/landingpage/MSProject/video.html %}

{% include /blocks/landingpage/MSProject/features-right.html
    title="Communication"
    content='
<p>
    Let\'s be honest.  It\'s really hard to understand task dependencies in a Gantt chart.  Now a solution exists: GamePlan.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h4 class="h5">
            Make informed decisions
        </h4>
        <p>
            People make huge decisions based on Gantt charts.  But Gantt charts don\'t give an overall picture of the project.  Let GamePlan show you what\'s really going on, so you make informed decisions.
        </p>
    </div>
</div>
    '
    image_url="assets/images/MSProject_to_GamePlan_3.jpg"
    image_alt="This image alt"
%}



{% include /blocks/landingpage/features-left.html
    title="Validation"
    content='
<p>
    Research has shown that 90% of spreadsheets contain errors.  This research has never been done on Gantt charts.  If it were, the results would be the same: almost all Gantt chart schedules contain unknown errors.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h4 class="h5">
            Validate your Microsoft Project schedule
        </h4>
        <p>
            We\'re willing to bet you\'ll see errors after you import your Project schedule.  We see errors with every file we import.  That\'s because errors in task dependencies are so hard to detect in a Gantt chart, and so easy to see in GamePlan.
        </p>
    </div>
</div>

    '
    image_url="assets/images/GamePlan_Primavera_Import_small.jpg"
    image_alt="This image alt"
%}




<!--
    {% include /blocks/landingpage/customers.html
    title="Our customers"
    customers=page.customers
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}
-->
{% include /blocks/landingpage/MSProject/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

