---
title: "Residential Construction"
subtitle: "Use GamePlan to know what's achievable and to deliver on time.  Your clients will love you for it."
image: "/assets/images/Residential_Construction_small.jpg"
image_alt: "GamePlan Construction Scheduling Software"
layout: landingpage
permalink: /solutions/Construction-Scheduling-Software

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "Can my subcontractors access the plan online?"
    answer: "Yes, and you control their access permission.  'View' permission lets them see when they are scheduled to work, and prevents them from making changes."
  - question: "Do my subcontractors need to pay for GamePlan?"
    answer: "No, Viewer licenses for GamePlan are free.  A Viewer license allows your subcontractors to view plans that have been shared with them, and allows them to enter timesheets, so you can track their progress."
  - question: "I am building a few homes.  Can I have multiple homes in my plan?"
    answer: "Absolutely!  GamePlan supports multiple projects within a plan, and each project has its own Whiteboard. GamePlan's scheduling engine ensures that no one is double booked across the different projects."
  - question: "Do I have to plan every home build or can I copy an existing one?"
    answer: "You can copy and paste tasks, groups and entire projects into the same plan or into a different plan."
  - question: "Can I get the residential construction template shown in the images above?"
    answer: "Yes.  Just contact us through our website and we'll gladly share it with you.  This will save you time getting started."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Can GamePlan import data from other applications?"
    answer: "Yes. GamePlan can import data from Microsoft Excel, Microsoft Project, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="Visually Plan and Schedule your Build"
    subtitle="Planning your build gives you peace of mind because you control the project, it doesn't control you."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan-Gantt-Chart-Software-play-540px.png"
    image_alt = "GamePlan Gantt Chart Software"
    video_url = "https://youtu.be/C6dmYRTuEXI"
%}

{% include /blocks/home/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    As the saying goes: "If you don\'t plan, you are planning to fail."
</p>
<p class="u-fs-22">
    Yet many builders still don\'t plan because, until now, planning tools have been hard to use. GamePlan changes that.  Anyone can plan in GamePlan. It\'s easy, it\'s fast, and many people say that GamePlan actually makes planning fun!
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of planning
        </h2>
        <p class="u-fs-22">
            When you plan your build, you know the exact move in date.  No more guestimating.  Yes, there will be unforeseen delays, so you build these into the plan.  Then all you need to do is follow your plan and you\'ll deliver your project on time.  With much less stress.
        </p>
    </div>
</div>
    '
    image_url="assets/images/Residential_Construction_in_GamePlan_3.jpg"
    image_alt="GamePlan Construction Scheduling Software"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    GamePlan creates a resource-leveled project schedule from the project plan.  A resource-leveled schedule is an achievable schedule because people are not double-booked.
</p>
<p class="u-fs-22">
    When any change is made to the plan, the schedule is automatically updated.
</p>

<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Scheduling
        </h2>
        <p class="u-fs-22">
            The schedule tells you when all of your project deliverable dates will be achieved, so you can communicate these dates with confidence.
        </p>
        <p class="u-fs-22">
            The schedule also shows your subcontractors when their tasks will be ready to work on.  This eliminates wasted time and keeps the project on track.
        </p>
    </div>
</div>

    '
    image_url="assets/images/GamePlan-Gantt-chart-PDF.png"
    image_alt="GamePlan Gantt chart PDF export"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Some builders don\'t plan because they believe that the plan quickly gets out of date.  This is true if you do not track your project.  When you track your project, your plan stays up to date.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Tracking
        </h2>
        <p class="u-fs-22">
            Tracking keeps your schedule valid, so that everyone can rely on the schedule.  When there\'s a delay or when a task takes longer than expected, the downstream schedule updates.
        </p>
        <p class="u-fs-22">
            Tracking the project also shows the project status. How far through the build are you?  When will it finish?  This information and more is always known.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_People_Report_4.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}


{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

