---
title: 'Commercial Construction'
subtitle: 'Keep all trades informed and on time with GamePlan.'
image: '/assets/images/Commercial_Construction_small.jpg'
image_alt: 'GamePlan Construction Software'
layout: landingpage
permalink: /solutions/Construction-Software

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "Can my subcontractors access the plan online?"
    answer: "Yes, and you control their access permission.  'View' permission lets them see when they are scheduled to work, and prevents them from making changes."
  - question: "Do my subcontractors need to pay for GamePlan?"
    answer: "No, Viewer licenses for GamePlan are free.  A Viewer license allows your subcontractors to view plans that have been shared with them, and allows them to enter timesheets, so you can track their progress."
  - question: "Can I have multiple buildings in my plan?"
    answer: "Absolutely!  GamePlan supports multiple projects within a plan, and each project has its own Whiteboard. GamePlan's scheduling engine ensures that no one is double booked across the different projects."
  - question: "Do I have to plan every building or can I copy an existing one?"
    answer: "You can copy and paste tasks, groups and entire projects into the same plan or into a different plan."
  - question: "Can I get the commercial construction template shown in the images above?"
    answer: "Yes.  Just contact us through our website and we'll gladly share it with you.  This will save you time getting started."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Can GamePlan import data from other applications?"
    answer: "Yes. GamePlan can import data from Microsoft Excel, Microsoft Project, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="Plan, Schedule and Track your Construction"
    subtitle="Plan and manage your projects with GamePlan to keep everyone informed and on time."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan-Gantt-Chart-Software-play-540px.png"
    image_alt = "GamePlan Gantt Chart Software"
    video_url = "https://youtu.be/C6dmYRTuEXI"
%}

{% include /blocks/home/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    Want a better way to plan?  Visual Planning is easy and eliminates mistakes because you see and understand the plan.
</p>
<p class="u-fs-22">
    Until now, planning tools have been hard to use. GamePlan changes that.  Anyone can plan in GamePlan. It\'s easy, it\'s fast, and it\'s the best way to communicate a construction plan.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of planning
        </h2>
        <p class="u-fs-22">
            Planning makes you consider all aspects of a project, which results in far fewer surprises later.
        </p>
        <p class="u-fs-22">
            The plan is the way to communicate to all project stakeholders.  Because people understand the project plan, they have confidence in the project.
        </p>
        <p class="u-fs-22">
            Then, follow the plan and you\'ll deliver the project on time.
        </p>
    </div>
</div>
    '
    image_url="assets/images/Commercial_Construction_in_GamePlan_1.jpg"
    image_alt="GamePlan Construction Software"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    GamePlan creates a resource-leveled project schedule from the project plan.  A resource-leveled schedule is an achievable schedule because people are not double-booked.
</p>
<p class="u-fs-22">
    When any change is made to the plan, the schedule is automatically updated.
</p>

<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Scheduling
        </h2>
        <p class="u-fs-22">
            The schedule tells you when all of your project deliverable dates will be achieved, so you can communicate these dates with confidence.
        </p>
        <p class="u-fs-22">
            The schedule also shows your subcontractors when their tasks will be ready to work on.  This eliminates wasted time and keeps the project on track.
        </p>
    </div>
</div>

    '
    image_url="assets/images/GamePlan-Gantt-chart-PDF-commercial-construction.png"
    image_alt="GamePlan Gantt chart PDF commercial construction"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Tracking the project is done by setting tasks as completed or entering timesheets.  When you track the project, the plan stays up to date.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Tracking
        </h2>
        <p class="u-fs-22">
            Tracking keeps the schedule valid, so that everyone can rely on the schedule.  When there\'s a delay or when a task takes longer than expected, the downstream schedule updates.
        </p>
        <p class="u-fs-22">
            Tracking the project also shows the project status. How far through the project are you?  When will it finish?  This information and more is always known.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_People_Report_Com_Cons_2.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}


{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

