---
title: 'Online Course Creation'
subtitle: "When can students start online learning?  GamePlan shows you what's possible and ensures you deliver on time."
image: '/assets/images/online_courses_2.jpg'
image_alt: 'Image alt'
layout: landingpage
permalink: /solutions/Online-Courses

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "So GamePlan visually shows my project workflow.  Does it do anything else?"
    answer: "Yes, communication is only one of the benefits of the visual workflow.  It also serves as an intuitive user interface to a powerful scheduling engine.  As you make changes on the Whiteboard, GamePlan updates the project schedule and displays it in GamePlan's Gantt chart."
  - question: "Can I move things around on the Whiteboard?"
    answer: "Absolutely!  Everyone has their preferred way of laying out their project plan, so GamePlan gives you complete flexibility.  You move tasks and groups with a simple drag and drop."
  - question: "Can I show large projects in GamePlan?"
    answer: "GamePlan's visual interface is most suitable for small to medium sized projects.  This is because there\'s a limit to the number of tasks that can be shown on a single Whiteboard before the tasks get too small to see.  However, large projects typically consist of multiple phases.  You can move each phase to its own Whiteboard, and all links between phases will be preserved."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Can GamePlan import data from other applications?"
    answer: "Yes. GamePlan can also import data from Microsoft Excel, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="Visualize Microsoft Project"
    subtitle="Import a Microsoft Project Gantt chart and view the project workflow.  No other tool can do this ... only GamePlan!"
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan_MSProject_Import_with_playbutton_small.png"
    image_alt = "Microsoft Project to GamePlan"
    video_url = "https://youtu.be/0IVadRFCCaw"
%}

{% include /blocks/landingpage/MSProject/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    You\'ve been told you need the courses ready by the start of next year.  You know that\'s not achievable, but how do you prove that?  How do you communicate that professionally?  Now there\'s a way.
</p>
<p class="u-fs-22">
    In GamePlan you plan your online course creation by visually laying out the tasks and assigning people to them.  It\'s as easy as drawing on a Whiteboard.  And as you visually create your plan, GamePlan calculates the schedule showing exactly how long things will take.
</p>
    '
    image_url="assets/images/Residential_Construction_in_GamePlan_3.jpg"
    image_alt="Residential Construction plan in GamePlan"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    Many people plan by assigning due dates to tasks.  But no one knows if the due dates are achievable.  If they aren\'t, the team gets stressed as they are expected to do more than is humanly possible.  If the dates are achievable, you still don\'t know if they\'re optimal.
</p>
<p class="u-fs-22">
    GamePlan looks at the team\'s availability and creates the optimal schedule.  Have a second course to create?  Simply copy and paste the first one and GamePlan will give you the best achievable schedule for both courses, ensuring that no one is double-booked.  It really is as easy as that.
</p>


    '
    image_url="assets/images/GamePlan_Residential_Construction_Gantt_chart_2.jpg"
    image_alt="Primavera P6 to GamePlan import"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Once the course creation is underway, nothing ever goes entirely to plan.  GamePlan has you covered here as well.  Just enter what actually happened, and GamePlan creates the new project timeline.
</p>
<p class="u-fs-22">
    You always know when you will deliver the courses.  When there\'s a delay, you are immediately aware of the effect.  GamePlan also shows you how effective different strategies are at bringing the project back on schedule.
</p>

    '
    image_url="assets/images/GamePlan_People_Report_4.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}



{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

