---
title: 'Online Course Creation'
subtitle: "When can students start online learning?  GamePlan shows you what's possible and ensures you deliver on time."
image: '/assets/images/online_courses_2.jpg'
image_alt: 'Image alt'
layout: landingpage
permalink: /solutions/Online-Courses

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "So GamePlan visually shows my project workflow.  Does it do anything else?"
    answer: "Yes, communication is only one of the benefits of the visual workflow.  It also serves as an intuitive user interface to a powerful scheduling engine.  As you make changes on the Whiteboard, GamePlan updates the project schedule and displays it in GamePlan's Gantt chart."
  - question: "Can I move things around on the Whiteboard?"
    answer: "Absolutely!  Everyone has their preferred way of laying out their project plan, so GamePlan gives you complete flexibility.  You move tasks and groups with a simple drag and drop."
  - question: "Can I show large projects in GamePlan?"
    answer: "GamePlan's visual interface is most suitable for small to medium sized projects.  This is because there\'s a limit to the number of tasks that can be shown on a single Whiteboard before the tasks get too small to see.  However, large projects typically consist of multiple phases.  You can move each phase to its own Whiteboard, and all links between phases will be preserved."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Can GamePlan import data from other applications?"
    answer: "Yes. GamePlan can also import data from Microsoft Excel, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="Online Course Creation"
    subtitle="GamePlan shows you exactly what's possible given your production team's availability.  No more wondering when you can go live."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan_Project_Scheduling_PC_with_playbutton_small.png"
    image_alt = "GamePlan Project Planning and Scheduling"
    video_url = "https://youtu.be/fXm6h8RFEa4"
%}

{% include /blocks/home/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    You\'re told you need the courses ready by the start of next year.  You know that\'s likely not achievable.  But how do you prove that?  How do you communicate that professionally?  Now there\'s a way.
</p>
<p class="u-fs-22">
    In GamePlan you create your online course creation plan by visually laying out the project workflow.  It\'s as easy as drawing on a Whiteboard.  And as you visually create your plan, GamePlan creates the schedule showing you exactly how long it will take.
</p>
    '
    image_url="assets/images/Residential_Construction_in_GamePlan_3.jpg"
    image_alt="Residential Construction plan in GamePlan"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    Most people plan by assigning due dates to tasks.  But no one knows if the due dates are actually achievable.  If they aren\'t, the team gets stressed as they are expected to do more than is humanly possible.  If they are achievable, you still don\'t know if they\'re optimal.
</p>
<p class="u-fs-22">
    GamePlan looks at the entire team\'s availability and creates the optimal schedule.  Have a second course to create?  Simply copy and paste the  plan and GamePlan will give you the best achievable schedule for both courses, ensuring that no one is double-booked.  It really is as easy as that.
</p>

<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Scheduling
        </h2>
        <p class="u-fs-22">
            The schedule tells you when all of your project deliverable dates will be achieved, so you can communicate these dates with confidence.
        </p>
        <p class="u-fs-22">
            The schedule also shows your subcontractors when their tasks will be ready to work on.  This eliminates wasted time and keeps the project on track.
        </p>
    </div>
</div>

    '
    image_url="assets/images/GamePlan_Residential_Construction_Gantt_chart_2.jpg"
    image_alt="Primavera P6 to GamePlan import"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Some builders don\'t plan because they believe that the plan quickly gets out of date.  This is true if you do not track your project.  When you track your project, your plan stays up to date.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Tracking
        </h2>
        <p class="u-fs-22">
            Tracking keeps your schedule valid, so that everyone can rely on the schedule.  When there\'s a delay or when a task takes longer than expected, the downstream schedule updates.
        </p>
        <p class="u-fs-22">
            Tracking the project also shows the project status. How far through the build are you?  When will it finish?  This information and more is always known.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_People_Report_4.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}



{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

