---
title: 'Software Development'
subtitle: 'Let GamePlan calculate realistic release dates.  Your team will never be expected to do more than is possible.'
image: '/assets/images/Software_Development_Cycle.jpg'
image_alt: 'Image alt'
layout: landingpage
permalink: /solutions/Software-Dev

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "So GamePlan visually shows my project workflow.  Does it do anything else?"
    answer: "Yes, communication is only one of the benefits of the visual workflow.  It also serves as an intuitive user interface to a powerful scheduling engine.  As you make changes on the Whiteboard, GamePlan updates the project schedule and displays it in GamePlan's Gantt chart."
  - question: "Can I move things around on the Whiteboard?"
    answer: "Absolutely!  Everyone has their preferred way of laying out their project plan, so GamePlan gives you complete flexibility.  You move tasks and groups with a simple drag and drop."
  - question: "Can I show large projects in GamePlan?"
    answer: "GamePlan's visual interface is most suitable for small to medium sized projects.  This is because there\'s a limit to the number of tasks that can be shown on a single Whiteboard before the tasks get too small to see.  However, large projects typically consist of multiple phases.  You can move each phase to its own Whiteboard, and all links between phases will be preserved."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Can GamePlan import data from other applications?"
    answer: "Yes. GamePlan can also import data from Microsoft Excel, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="Software Development"
    subtitle="Sprints work well for short term planning, but you also need an overall plan so you know when you'll achieve your major deliverables."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan_Project_Scheduling_PC_with_playbutton_small.png"
    image_alt = "GamePlan Project Planning and Scheduling"
    video_url = "https://youtu.be/fXm6h8RFEa4"
%}

{% include /blocks/home/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    There are many tools for managing short term software development, but they do not give you the big picture of your overall progress towards your development goals.  GamePlan offers a solution.  Simply enter or import your development tasks, assign team members, and GamePlan gives you the dates when you will achieve your major deliverables.
</p>
<p class="u-fs-22">
    The plan is easy to follow because it\'s visual so everyone understands it.  The critical path and task dependencies are clearly shown.  
</p>
<p class="u-fs-22">
    The image to the right is Microsoft Project\'s Software Development Template after import to GamePlan.  It shows all aspects of creating a commercial software product.  You can start with this plan, adapt it to your software development process and assign your own resources.  This gives you a long term plan to follow to achieve your long term goals on time.
</p>

<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of planning
        </h2>
        <p class="u-fs-22">
            When you plan your build, you know the exact move in date.  No more guestimating.  Yes, there will be unforeseen delays, so you build these into the plan.  Then all you need to do is follow your plan and you\'ll deliver your project on time.  With much less stress.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_Software_Dev_Whiteboard_small3.jpg"
    image_alt="GamePlan Software Development Template"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    GamePlan creates a resource-leveled project schedule from the project plan.  A resource-leveled schedule is an achievable schedule because people are not double-booked.
</p>
<p class="u-fs-22">
    When any change is made to the plan, the schedule is automatically updated.
</p>

<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Scheduling
        </h2>
        <p class="u-fs-22">
            The schedule tells you when all of your project deliverable dates will be achieved, so you can communicate these dates with confidence.
        </p>
        <p class="u-fs-22">
            The schedule also shows your subcontractors when their tasks will be ready to work on.  This eliminates wasted time and keeps the project on track.
        </p>
    </div>
</div>

    '
    image_url="assets/images/GamePlan_Software_Development_Gantt_Chart2.jpg"
    image_alt="GamePlan Software Development Gantt Chart"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Some builders don\'t plan because they believe that the plan quickly gets out of date.  This is true if you do not track your project.  When you track your project, your plan stays up to date.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Tracking
        </h2>
        <p class="u-fs-22">
            Tracking keeps your schedule valid, so that everyone can rely on the schedule.  When there\'s a delay or when a task takes longer than expected, the downstream schedule updates.
        </p>
        <p class="u-fs-22">
            Tracking the project also shows the project status. How far through the build are you?  When will it finish?  This information and more is always known.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_Software_Development_People_Report.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}



{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

