---
title: 'New Business Plan'
subtitle: 'Let GamePlan guide your new business launch.  Follow the template and important steps will not be missed.'
image: '/assets/images/generic-business-plan3.jpg'
image_alt: 'Image alt'
layout: landingpage
permalink: /solutions/New-Business-Plan

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "Can everyone on my team access the plan online?"
    answer: "Yes, and you control their access permission.  For example, 'timesheet' permission lets them view the plan, set tasks complete, and enter timesheets."
  - question: "Do people that I share the plan with need to pay for GamePlan?"
    answer: "No, Viewer licenses for GamePlan are free.  A Viewer license still allows people to set tasks complete and enter timesheets, so you can track their progress."
  - question: "Can I get the new business plan shown in the images above?"
    answer: "Yes.  Please contact us through the website and we'll share it with you."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Which applications can GamePlan import data from?"
    answer: "GamePlan can import data from Microsoft Excel, Microsoft Project, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="New Business Plan"
    subtitle="A new business requires careful planning.  This means you need an effective planning tool that is easy to use.  GamePlan is the best one out there."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan_Project_Scheduling_PC_with_playbutton_small.png"
    image_alt = "GamePlan Project Planning and Scheduling"
    video_url = "https://youtu.be/fXm6h8RFEa4"
%}

{% include /blocks/home/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    Many people are involved in a new business launch, so you need one plan that everyone and works from.
</p>
<p class="u-fs-22">
    With GamePlan, everyone understands the plan because it\'s visual.  People stay focused on completing their tasks because they know their impact on the launch.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of planning
        </h2>
        <p class="u-fs-22">
            Planning makes you consider all aspects of the business launch.  This is critical when so much is at stake.
        </p>
        <p class="u-fs-22">
            Planning shows the project\'s critical path (with red arrows).  These are the tasks that will impact the business start up date if they run late.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_New_Business_Plan_2.jpg"
    image_alt="New Business Plan in GamePlan"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    As you visually plan, GamePlan creates a resource-leveled project schedule.  The schedule is achievable because each person\'s availability is considered and no one is double-booked.
</p>
<p class="u-fs-22">
    The project schedule is shown in a Gantt chart immediately below the Whiteboard.
</p>

<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Scheduling
        </h2>
        <p class="u-fs-22">
            The schedule shows you the earliest possible new business launch date given the work required and each person\'s availability.
        </p>
        <p class="u-fs-22">
            The schedule shows everyone exactly when they need to start and finish their tasks in order to keep the launch on time.
        </p>
    </div>
</div>

    '
    image_url="assets/images/GamePlan_New_Business_Plan_Gantt_chart.jpg"
    image_alt="GamePlan Product Launch with Gantt Chart"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Tracking is done once the project is underway by setting tasks as completed or entering timesheets.  Tracking keeps the project plan up to date.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Tracking
        </h2>
        <p class="u-fs-22">
            Tracking keeps the schedule valid, so that everyone can rely on it.  When there\'s a delay or when a task takes longer than expected, the downstream schedule updates.
        </p>
        <p class="u-fs-22">
            Tracking the project also shows the project status. How far through the project are you?  When will you be ready to launch?  This information and more is always known.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_New_Business_Plan_People_Report.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}



{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

