---
title: 'Event Planning'
subtitle: "Plan any event with GamePlan!  Event dates can't slide so you need a schedule to follow so you're ready for the big day!"
image: '/assets/images/Event_Planning_2.jpg'
image_alt: 'Image alt'
layout: landingpage
permalink: /solutions/Event-Planning

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "So GamePlan visually shows my project workflow.  Does it do anything else?"
    answer: "Yes, communication is only one of the benefits of the visual workflow.  It also serves as an intuitive user interface to a powerful scheduling engine.  As you make changes on the Whiteboard, GamePlan updates the project schedule and displays it in GamePlan's Gantt chart."
  - question: "Can I move things around on the Whiteboard?"
    answer: "Absolutely!  Everyone has their preferred way of laying out their project plan, so GamePlan gives you complete flexibility.  You move tasks and groups with a simple drag and drop."
  - question: "Can I show large projects in GamePlan?"
    answer: "GamePlan's visual interface is most suitable for small to medium sized projects.  This is because there\'s a limit to the number of tasks that can be shown on a single Whiteboard before the tasks get too small to see.  However, large projects typically consist of multiple phases.  You can move each phase to its own Whiteboard, and all links between phases will be preserved."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Can GamePlan import data from other applications?"
    answer: "Yes. GamePlan can also import data from Microsoft Excel, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="Event Planning"
    subtitle="Plan any event in GamePlan! Then you will deliver your event successfully, on time and on budget."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan_Project_Scheduling_PC_with_playbutton_small.png"
    image_alt = "GamePlan Project Planning and Scheduling"
    video_url = "https://youtu.be/fXm6h8RFEa4"
%}

{% include /blocks/home/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    As the saying goes: "If you don\'t plan, you are planning to fail."
</p>
<p class="u-fs-22">
    This is especially true for event planning when the event date cannot slide if you\'re not ready.
</p>
<p class="u-fs-22">
    Yet many Event Planners don\'t plan with the right tools because planning tools have, until now, been hard to use. GamePlan changes that.  Anyone can plan in GamePlan. It\'s easy, it\'s fast, and it\'s visual.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of planning
        </h2>
        <p class="u-fs-22">
            Planning your event makes you consider the details ahead of time, so there are fewer surprises as you get closer to the big day.
        </p>
        <p class="u-fs-22">
            Planning also shows you if you have the resources that you need to be ready in time.
        </p>
        <p class="u-fs-22">
            Once you have a plan, all you need to do is follow it and you\'ll be fully prepared for your event.  With much less stress.
        </p>
    </div>
</div>
    '
    image_url="assets/images/Residential_Construction_in_GamePlan_3.jpg"
    image_alt="Residential Construction plan in GamePlan"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    GamePlan creates a resource-leveled project schedule from the project plan.  A resource-leveled schedule is an achievable schedule because people are not double-booked.
</p>
<p class="u-fs-22">
    When any change is made to the plan, the schedule is automatically updated.
</p>

<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Scheduling
        </h2>
        <p class="u-fs-22">
            The schedule tells you when all of your project deliverable dates will be achieved, so you can communicate these dates with confidence.
        </p>
        <p class="u-fs-22">
            The schedule also shows your subcontractors when their tasks will be ready to work on.  This eliminates wasted time and keeps the project on track.
        </p>
    </div>
</div>

    '
    image_url="assets/images/GamePlan_Residential_Construction_Gantt_chart_2.jpg"
    image_alt="Primavera P6 to GamePlan import"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Some builders don\'t plan because they believe that the plan quickly gets out of date.  This is true if you do not track your project.  When you track your project, your plan stays up to date.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Tracking
        </h2>
        <p class="u-fs-22">
            Tracking keeps your schedule valid, so that everyone can rely on the schedule.  When there\'s a delay or when a task takes longer than expected, the downstream schedule updates.
        </p>
        <p class="u-fs-22">
            Tracking the project also shows the project status. How far through the build are you?  When will it finish?  This information and more is always known.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_People_Report_4.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}

{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

