---
title: 'New Business Plan'
subtitle: 'Launching a new business?  Follow the New Business template and important steps will not be missed.'
image: '/assets/images/generic-business-plan3.jpg'
image_alt: 'GamePlan Business Plan Template'
layout: landingpage
permalink: /solutions/Business-Plan-Template

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "Can everyone on my team access the plan online?"
    answer: "Yes, and you control their access permission.  For example, 'timesheet' permission lets them view the plan, set tasks complete, and enter timesheets."
  - question: "Do people that I share the plan with need to pay for GamePlan?"
    answer: "No, Viewer licenses for GamePlan are free.  A Viewer license still allows people to set tasks complete and enter timesheets, so you can track their progress."
  - question: "Can I get the new business plan template shown in the images above?"
    answer: "Yes.  Please contact us through the website and we'll share it with you."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Which applications can GamePlan import data from?"
    answer: "GamePlan can import data from Microsoft Excel, Microsoft Project, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="New Business Plan"
    subtitle="A new business requires careful planning.  GamePlan is today's best online planning and scheduling tool because it's visual and easy to use."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan-Gantt-Chart-Software-play-540px.png"
    image_alt = "GamePlan Gantt Chart Software"
    video_url = "https://youtu.be/C6dmYRTuEXI"
%}

{% include /blocks/home/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    Many people are involved in launching a business, so you need one plan that everyone works from.
</p>
<p class="u-fs-22">
    With GamePlan, everyone understands the plan because it\'s visual.  People stay focused on completing their tasks because they know their impact on the business launch.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of planning
        </h2>
        <p class="u-fs-22">
            Planning makes you consider all aspects of the new business ahead of time.  This is critical when so much is at stake.
        </p>
        <p class="u-fs-22">
            Planning also shows the project\'s critical path (with red arrows).  These are the tasks that will impact the business start date if they run late.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_New_Business_Plan_2.jpg"
    image_alt="New Business Plan in GamePlan"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    A schedule is mandatory because without a schedule you don\'t know when the business will be ready to launch, and people don\'t know when they\'re needed.
</p>
<p class="u-fs-22">
    GamePlan creates a resource-leveled project schedule as you visually plan, and shows it in a Gantt chart.  This is different to all other products, where you have to create the Gantt chart.  In GamePlan, the Gantt chart is created for you.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Scheduling
        </h2>
        <p class="u-fs-22">
            The schedule shows you the earliest possible business launch date, and it shows people when to start and finish their tasks in order to achieve it.
        </p>

    </div>
</div>

    '
    image_url="assets/images/GamePlan-new-business-plan-Gantt-chart-540px.png"
    image_alt="GamePlan Product Launch with Gantt Chart"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Once execution of the plan starts, tracking keeps everything up to date.  Tracking is done by marking tasks as <i>Completed on Schedule</i> or entering timesheets.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of Tracking
        </h2>
        <p class="u-fs-22">
            Tracking keeps the schedule valid, so that everyone can rely on it.  When there\'s a delay or when a task takes longer than expected, the downstream schedule automatically updates.
        </p>
        <p class="u-fs-22">
            Tracking shows the project status. What is the progress?  When will the new business be ready launch?  This information and more is always known.
        </p>
        <p class="u-fs-22">
            Tracking also gives you a permanent record of plan versus actuals.  Analysing this data in a project post-mortem is a valuable learning experience that improves future planning.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_New_Business_Plan_People_Report.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}



{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

