---
title: 'Event Planning'
subtitle: "Plan any event with GamePlan!  Event dates can't slide so you need a schedule to follow so you're ready for the big day!"
image: '/assets/images/Event_Planning_2.jpg'
image_alt: 'GamePlan Event Planning Software'
layout: landingpage
permalink: /solutions/Event-Planning-Software

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "Can everyone on the event planning team access the plan online?"
    answer: "Yes, and you control their access permission.  For example, 'View' permission lets them see the plan and prevents them from making changes."
  - question: "Do people that I share the plan with need to pay for GamePlan?"
    answer: "No, Viewer licenses for GamePlan are free.  A Viewer license allows others to view plans that have been shared with them, and allows them to enter timesheets, which keeps the plan up to date."
  - question: "Can I get the Wedding Plan template shown in the top image above?"
    answer: "Yes.  Just contact us through the website and we'll share it with you."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Can GamePlan import data from other applications?"
    answer: "Yes. GamePlan can import data from Microsoft Excel, Microsoft Project, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="Event Planning"
    subtitle="Plan any event in GamePlan! Deliver your event successfully, on time and on budget."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan-Gantt-Chart-Software-play-540px.png"
    image_alt = "GamePlan Gantt Chart Software"
    video_url = "https://youtu.be/C6dmYRTuEXI"
%}

{% include /blocks/home/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    As the saying goes: "If you don\'t plan, you\'re planning to fail." This is especially true for event planning because the event date can\'t slide if you\'re not ready.
</p>
<p class="u-fs-22">
    Yet many Event Planners don\'t plan with the right tools because, until now, planning tools have been hard to use. GamePlan changes that.  Anyone can plan in GamePlan. It\'s easy, it\'s fast, and it\'s visual.
</p>
<div class="media mt-4">
    <div class="media-body">
        <h2>
            Benefits of planning
        </h2>
        <p class="u-fs-22">
            Planning your event makes you consider the details ahead of time, so there are fewer surprises later.
        </p>
        <p class="u-fs-22">
            Planning also shows if you have the resources you need to be ready in time.  And if those resources are people, the visual plan clearly communicates to them what they need to do.
        </p>
        <p class="u-fs-22">
            Then, all you need to do is follow your plan and you\'ll be fully prepared for your event.  With way less stress.
        </p>
    </div>
</div>
    '
    image_url="assets/images/GamePlan_Wedding_Plan2.jpg"
    image_alt="Wedding plan in GamePlan"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    GamePlan\'s real power is in its scheduling.  The schedule shows you what is achievable given the work to do and your team\'s availability.
</p>
<p class="u-fs-22">
    Be careful not to choose a task management tool for event planning.  Task management tools let you put due dates on tasks, but they give no indication if the due dates are achievable.  If the due dates are not achievable, you\'ll discover this the hard way when deadlines are missed.
</p>
<p class="u-fs-22">
    GamePlan creates a resource-leveled project schedule from the project plan.  A resource-leveled schedule is achievable because people are not double-booked.  When any change is made to the plan, the schedule is automatically updated.
</p>
<p class="u-fs-22">
    The schedule shows you when all of your milestones will be achieved. Just follow the schedule and you\'ll be ready on time!
</p>

    '
    image_url="assets/images/GamePlan-Gantt-chart-PDF.png"
    image_alt="GamePlan Gantt chart exported to PDF"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Tracking refers to tracking the completed work.  This is important because nothing ever goes entirely to plan.  GamePlan has you covered here as well.  Just enter what actually happened, and GamePlan creates the new project timeline.
</p>
<p class="u-fs-22">
    Track the project and you always know when you will be ready.  When there\'s a delay, you are immediately aware of the impact.  GamePlan also shows you how to get back back on schedule.
</p>
<p class="u-fs-22">
    Only a scheduling tool gives you these capabilities, which are critical because your event date cannot slide.  And GamePlan is the scheduling tool that is by far the easiest to use because it\'s visual.
</p>

    '
    image_url="assets/images/GamePlan_Online_Course_Creation_PeopleReport2.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}

{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

