---
title: 'Online Course Creation'
subtitle: "When will the online courses be ready?  GamePlan shows you what's possible and ensures you deliver on time."
image: '/assets/images/online_courses_2.jpg'
image_alt: 'GamePlan Online Course Creation Software'
layout: landingpage
permalink: /solutions/Online-Course-Creation-Software

#--------------------
# Customers data
#--------------------
customers:
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"
  - image_url: "assets/images/fake_logo.jpg"
    image_alt: "logo alt"

#--------------------
# FAQ data
#--------------------
faqs:
  - question: "Can everyone on the course production team access the plan online?"
    answer: "Yes, and you control their access permission.  'View' permission lets them see their tasks and prevents them from making changes."
  - question: "Do people that I share the plan with need to pay for GamePlan?"
    answer: "No, Viewer licenses for GamePlan are free.  A Viewer license allows others to view plans that have been shared with them, and allows them to enter timesheets, so you can track their progress."
  - question: "Can I get the online course creation template shown in the images above?"
    answer: "Yes.  Dr. Denis F. Cioffi at George Washington University created this plan, and GWU has very kindly agreed for this plan to be shared with others.  Please contact us through the GamePlan website and we'll share it with you."
  - question: "Do I need special hardware to use GamePlan?"
    answer: "GamePlan requires a personal computer, either PC or Mac.  Tablets are not yet supported.  Like all graphical applications, you should use an external mouse.  Because GamePlan is a cloud application, an internet connection is required."
  - question: "Can GamePlan import data from other applications?"
    answer: "Yes. GamePlan can import data from Microsoft Excel, Microsoft Project, and from Primavera P6 through a XER file."
---


{% include /blocks/home/hero.html
    title="Online Course Creation"
    subtitle="GamePlan shows you what's possible given your course production team's availability.  No more wondering when you can go live."
    button_1_title="Sign Up for a Free Trial"
    image = "/assets/images/GamePlan-Gantt-Chart-Software-play-540px.png"
    image_alt = "GamePlan Gantt Chart Software"
    video_url = "https://youtu.be/C6dmYRTuEXI"
%}

{% include /blocks/home/video.html %}

{% include /blocks/landingpage/features-right.html
    title="Planning"
    content='
<p class="u-fs-22">
    You\'ve been told you need the courses ready by the start of next year.  You know that\'s not achievable, but how do you prove that?  How do you communicate that professionally?  Now there\'s a way!
</p>
<p class="u-fs-22">
    In GamePlan, you plan by visually laying out tasks and assigning people to them.  It\'s as easy as drawing on a whiteboard.  You link two tasks with an arrow when one must finish before the other can start.  The result is a project plan that everyone understands.  There\'s no better way to communicate a plan like this.
</p>
<p class="u-fs-22">
    GamePlan automatically calculates the project\'s critical path, shown in the red arrows.  How?  As you visually create your plan, GamePlan calculates the project schedule.  The critical path shows which tasks must be completed on schedule for the project to be delivered on time.
</p>
    '
    image_url="assets/images/GamePlan_Online_Course_Creation_Planning2.jpg"
    image_alt="Online Course Creation plan in GamePlan"
%}



{% include /blocks/landingpage/features-left.html
    title="Scheduling"
    content='
<p class="u-fs-22">
    Many people plan by assigning due dates to tasks.  But no one knows if the due dates are achievable.  If they aren\'t, the team gets stressed as they are expected to do more than is humanly possible.  If the dates are achievable, you still don\'t know if they\'re optimal.  Perhaps you could be delivering sooner?
</p>
<p class="u-fs-22">
    GamePlan looks at each person\'s availability and creates the schedule with the earliest possible completion date.  Have a second course to create?  Simply copy the first one and GamePlan will give you the best achievable schedule for both courses, with no one double-booked.  It really is that easy.
</p>


    '
    image_url="assets/images/GamePlan-online-course-creation-Gantt-chart-540px.png"
    image_alt="GamePlan online course creation Gantt chart 540px.png"
%}

{% include /blocks/landingpage/features-right.html
    title="Tracking"
    content='
<p class="u-fs-22">
    Once the course creation is underway, nothing ever goes entirely to plan.  GamePlan has you covered here as well.  Just enter what actually happened, and GamePlan creates the new project timeline.
</p>
<p class="u-fs-22">
    Track the project and you always know when you will deliver.  When there\'s a delay, you are immediately aware of the effect.  GamePlan also shows you how effective different strategies will be at bringing the project back on schedule.
</p>

    '
    image_url="assets/images/GamePlan_Online_Course_Creation_PeopleReport2.jpg"
    image_alt="GamePlan People Report"
%}

{% include /blocks/landingpage/faq.html
    title="Frequently Asked Questions"
    faqs=page.faqs
%}



{% include /blocks/landingpage/cta.html
    title="Start your free trial today!"
    button_title="Sign Up"
    button_url="/go/sign-up"
%}

