<div class="container">
    <div class="row mb-4">
        <div class="col-lg-6 text-center mt-5">
            <form name="contact-form" method="POST" netlify>
                <div class="row">
                    <div class="col-md-6 u-mb-30">
                        <input type="text" placeholder="Your name*" name="name">
                    </div>
                    <div class="col-md-6 u-mb-30">
                        <input type="email" placeholder="Your email*" name="email">
                    </div>
                    <div class="col-md-12 u-mb-30">
                        <input type="tel" placeholder="Subject" name="subject">
                    </div>
                    <div class="col-12 u-mb-30">
                        <textarea rows="5" placeholder="Message" name="message"></textarea>
                    </div>
                </div>
                <div netlify-recaptcha></div>
                <br />
                <button class="btn btn-rounded btn-primary u-w-170" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="bg-white p-4 u-rounded-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-12 my-2">
                                <p class="u-fs-lg-20 color-heading mb-2"> Canada </p>
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <p class=" color-heading mb-1">
                                            <i class="fa fa-globe u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i>#300 - 2083 Alma Street
                                        </p>
                                        <p class="mb-0">Vancouver, BC V6R 4N6</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 my-2">
                                <div class="media align-items-center justify-content-center">
                                    <div class="media-body">
                                        <p class="color-heading mb-1">
                                            <i class="fa fa-phone u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i> +1 604 670 8868
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 my-2">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <p class="color-heading mb-1">
                                            <i class="fa fa-envelope u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i><a href='mailto&#58;s&#117;p%70&#111;r%74%4&#48;g%61&#109;%65p&#108;an&#46;glo&#98;%61%6C'>sup&#112;&#111;rt&#64;&#103;a&#109;eplan&#46;&#103;&#108;&#111;&#98;al</a>
                                        </p>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-12 my-2">
                                <p class="u-fs-lg-20 color-heading mb-2"> Australia </p>
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <p class="color-heading mb-1">
                                            <i class="fa fa-globe u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i>Level 2,  212 Quay Street
                                        </p>
                                        <p class="mb-0">Rockhampton, QLD 4700</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

