<div class="container">
    <div class="row mb-4">
        <div class="col-lg-6 text-center mt-5">
            <form name="contact" method="POST" netlify>
                <div class="row">
                    <div class="col-md-6 u-mb-30">
                        <input type="text" placeholder="Your name*">
                    </div>
                    <div class="col-md-6 u-mb-30">
                        <input type="email" placeholder="Your email*">
                    </div>
                    <div class="col-md-12 u-mb-30">
                        <input type="tel" placeholder="Subject">
                    </div>
                    <div class="col-12 u-mb-30">
                        <textarea rows="5" placeholder="Message"></textarea>
                    </div>
                </div>
                <div netlify-recaptcha></div>
                <button class="btn btn-rounded btn-primary u-w-170" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="bg-white p-4 u-rounded-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 my-2">
                                <p class="u-fs-lg-20 color-heading mb-2"> Location One </p>
                                <div class="media align-items-center justify-content-center">
                                    <div class="media-body">
                                        <p class="color-heading mb-1">
                                            <i class="fa fa-phone u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i> 13123 12312 123</p>
                                        <p class="mb-0">Mon-Fri 9am-6pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 my-2">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <p class="color-heading mb-1">
                                            <i class="fa fa-envelope u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i>support@gameplan.global</p>
                                        <p class="mb-0">Regular support</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 my-2">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <p class=" color-heading mb-1">
                                            <i class="fa fa-globe u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i>Melbourne, Australia</p>
                                        <p class="mb-0">1623 Random Street</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 my-2">
                                <p class="u-fs-lg-20 color-heading mb-2"> Location Two </p>
                                <div class="media align-items-center justify-content-center">
                                    <div class="media-body">
                                        <p class="color-heading mb-1">
                                            <i class="fa fa-phone u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i> 13123 12312 123</p>
                                        <p class="mb-0">Mon-Fri 9am-6pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 my-2">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <p class="color-heading mb-1">
                                            <i class="fa fa-envelope u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i>support@gameplan.global</p>
                                        <p class="mb-0">Regular support</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 my-2">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <p class="color-heading mb-1">
                                            <i class="fa fa-globe u-fs-lg-20 u-fs-20 0 text-primary mr-1" aria-hidden="true"></i>Sydney, Australia</p>
                                        <p class="mb-0">1623 Random Street</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

