<div class="container">
	<div class="row mb-4">
		<div class="col-lg-7 text-center mt-5 mx-auto">
			<form name="contact" method="POST" netlify>
				<div class="row">
                <div class="col-md-6 u-mb-30">
						<input type="text" placeholder="Your name*">
					</div>
					<div class="col-md-6 u-mb-30">
						<input type="email" placeholder="Your email*">
					</div>
					<div class="col-md-12 u-mb-30">
						<input type="tel" placeholder="Subject">
					</div>
					<div class="col-12 u-mb-30">
						<textarea rows="5" placeholder="Message"></textarea>
					</div>
				</div>
            			<div netlify-recaptcha></div>
				<button class="btn btn-rounded btn-primary u-w-170" type="submit">Submit</button>
			</form>
		</div> 
	</div> 
</div> 

