

<section class="u-py-100">
        <div class="container">
            <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                            <h2 class="h1">
                             Our customers
                            </h2>
                            <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
                        </div>
                <div class="col-12 d-md-flex justify-content-between text-center">
                    <div class="p-3">
                        <img src="{{ 'assets/images/fake_logo.jpg' | absolute_url}}" alt="">
                    </div>
                    <div class="p-3">
                        <img src="{{ 'assets/images/fake_logo.jpg' | absolute_url}}" alt="">
                    </div>
                    <div class="p-3">
                        <img src="{{ 'assets/images/fake_logo.jpg' | absolute_url}}" alt="">
                    </div>
                    <div class="p-3">
                        <img src="{{ 'assets/images/fake_logo.jpg' | absolute_url}}" alt="">
                    </div>
                    <div class="p-3">
                        <img src="{{ 'assets/images/fake_logo.jpg' | absolute_url}}" alt="">
                    </div>
                </div>
            </div> <!-- END row-->
        </div> <!-- END container-->
    </section>
    
    
    
    