
<section id="faq" class="bg-gray-v1">  
        <div class="container">
        
         <div class="row">
           <div class="col-lg-6 m-auto text-center">
             <h2 class="h1">
               Frequently Asked Questions
             </h2>
             <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
           </div>
         </div> <!--END row-->
         
         <div class="row">
             <div class="col-12 mt-4">
                  <div id="accordion" role="tablist" class="bg-white box-shadow-v3">
      
                      <div class="accordion__faq">
                          <a class="accordion__title p-4" data-toggle="collapse" href="#acc1">
                              <i class="fa fa-angle-down mr-3"></i>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor is?
                          </a>
                          <div id="acc1" class="collapse show" role="tabpanel" data-parent="#accordion">
                              <div class="accordion__text">
                                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                              </div>
                          </div>
                      </div>	 <!-- END accordion__faq-->
      
                      <div class="accordion__faq">
                          <a class="accordion__title p-4" data-toggle="collapse" href="#acc2">
                              <i class="fa fa-angle-down mr-3"></i>
                              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium?
                          </a>
                          <div id="acc2" class="collapse" role="tabpanel" data-parent="#accordion">
                              <div class="accordion__text">
                                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                              </div>
                          </div>
                      </div>	 <!-- END accordion__faq-->	
      
                      <div class="accordion__faq">
                          <a class="accordion__title p-4" data-toggle="collapse" href="#acc3">
                              <i class="fa fa-angle-down mr-3"></i>
                              Ut enim ad minima veniam, quis nostrum exercitationem ullam?
                          </a>
                          <div id="acc3" class="collapse" role="tabpanel" data-parent="#accordion">
                              <div class="accordion__text">
                                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                              </div>
                          </div>
                      </div>	 <!-- END accordion__faq-->				
      
                  </div> <!-- END accordion-->
             </div> <!-- END col-12-->
         </div> <!-- END row-->
         
        </div> <!-- END container-->
      </section> <!-- END section-->
            
            
      