{% assign title = include.title | default: "Industry specific landing page" %}
{% assign content = include.content | default: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco" %}
{% assign image_url = include.image_url | default: "assets/images/planning.png" %}
{% assign image_alt = include.image_alt | default: "Image alt" %}




<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 ml-auto mt-5 mb-4">
                <h2 class="h1">
                    {{ title }}
                </h2>
                <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mb-5"></div>
                {{ content }}
            </div>
            <!-- END col-lg-6 -->
            <div class="col-lg-6 ml-auto text-center">
                <img class="wow fadeInRight w-100 rounded" src="{{ image_url | absolute_url}}" alt="{{ image_alt }}">
            </div>
            <!-- END col-lg-6 pl-lg-5 -->
        </div>
        <!-- END row-->
    </div>
    <!-- END container-->
</section>
<!-- END section-->