---
layout: default
---


<div class="bg-gray-v1">
        <div class="container u-py-100">
                <div class="bg-white u-py-35 u-px-35">
                        <div class="col-12">
                                <h2 class="h1 text-center">{{ page.title }}</h2>
                        </div>
                        <p class="mb-5 u-fs-22 text-center">
                                {{ page.subtitle }}
                        </p>
                        {{content}}
                </div>
        </div>
</div>